@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-image: linear-gradient(to right top, #000058, #240062, #3d006c, #530075, #68007d, #6e0084, #73008b, #790092, #6d009b, #5c00a4, #4300ae, #0302b8); */
  /* background-image: linear-gradient(to right bottom, #773c5e, #6f3763, #653369, #563170, #423176, #2f3271, #1b316b, #003063, #002b4c, #002233, #00191c, #000908); */


  background-image: linear-gradient(
  220deg,
  hsl(249deg 91% 22%) 0%,
  hsl(251deg 92% 20%) 21%,
  hsl(252deg 93% 17%) 30%,
  hsl(254deg 94% 15%) 39%,
  hsl(256deg 95% 13%) 46%,
  hsl(258deg 96% 11%) 54%,
  hsl(260deg 97% 9%) 61%,
  hsl(261deg 98% 7%) 69%,
  hsl(263deg 99% 4%) 79%,
  hsl(265deg 100% 2%) 100%
);
}

main {
  display: flex;
  flex-direction: row;
}

.sholarWhispersMain {
  flex: 1;
  height: 100vh;


 


}

nav {
  width: 400px;
  flex-shrink: 0;
  height: 100vh;
}
